.footer {
  position: fixed;
  right: 0;

  flex: 0 0 auto;
  width: 40%;
}


.footer__container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  svg {
    fill: $color-secondary-border;
  }

  span {
    display: none;
  }

  a:hover {
    svg {
      transform: scale(1.2);

      transition: 0.5s ease;
    }

    span {
      display: block;

    }
  }
}

.footer__socials {
  width: 200px;
}

@include vp-tablet {
  .footer {
    a:hover {
      svg {
        transform: none;
      }
    }
  }

  .footer__container {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
  }
}

@include vp-mobile {
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;

    width: 100%;

    background-color: $color-secondary-highlight;
    border-top: 1px solid $color-secondary-shadow;

  }

  .footer__container {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    a {

      &:hover {
        svg {
          transform: none;
        }
        span {
          display: none;
        }
      }

    }
  }

  .footer__socials {
    width: 100%;
    max-width: 400px;

    svg {
      fill: $color-secondary-border;
    }
  }
}
