.footer {
  position: fixed;
  flex: 0 0 auto;
  width: 40%;
  right: 0;
}


.footer__container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;

  svg {
    fill: $color-primary-black;
  }

  a:hover {
    svg {
      transform: scale(1.5);
      transition: 0.5s ease;
    }
  }
}

.footer__socials {
  width: 200px;
}

@include vp-tablet {
  .footer {
    a:hover {
      svg {
        transform: none;
      }
    }
  }

  .footer__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@include vp-mobile {
  .footer {
  }
}
