.header {
  position: fixed;
  width: 40%;
  margin-right: auto;
}

.header__container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  @include reset-ul();
  width: 200px;
  display: grid;
  grid-auto-flow: column;

  span {
    display: none;
    margin-top: 20px;
  }

  a:hover {
    span {
      display: block;
      position: absolute;
    }

    svg {
      transform: scale(1.5);
      transition: 0.5s ease;
    }

  }
}

@include vp-tablet {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


@include vp-mobile {
  .header {
    position: relative;
    width: 100%;
  }

  .header__container {
    padding: 0;
  }

  .header__nav {
    a {
      span {
         text-transform: uppercase;
         font-weight: 700;
         font-size: 20px;
         line-height: 50px;
      }
    }
    a:hover {
      svg {
        transform: none;
      }

      span {
        position: relative;

      }

    }

    svg {
      @include visually-hidden();
    }

    span {
      display: block;
    }
  }
}
