.header {
  // position: fixed;

  position: absolute;

  //   background-color: $color-primary;
  //   color: $color-default-white;


  // background-repeat: no-repeat;
  // background-size: cover;

}


.header__container {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__logo {
  margin-right: auto;
  display: flex;

  align-items: center;
  color: $color-default-white;
  text-transform: uppercase;

  svg {
    margin-right: 5px;
  }
}

.header__nav {
  width:300px;
  ul {
    @include reset-ul();
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-area: auto;

  }

  svg {
    fill: $color-secondary-highlight;

    stroke:$color-secondary-shadow;
  }
  span{
    display: none;
  }

  a:hover {
    span{
      display: block;
      margin-top: 20px;
    }
    svg {
      transform: scale(1.5);
      transition: 0.5s ease;
      fill: $color-hover-purple;
    }


  }
}
