.header {
  position: fixed;

  width: 40%;
  margin-right: auto;
}

.header__container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  display: grid;
  width: 50%;

  grid-auto-flow: column;
  @include reset-ul();

  span {
    display: none;

    text-align: center;
  }

  a:hover {
    span {
      position: absolute;

      display: block;
    }

    svg {
      transform: scale(1.2);

      transition: 0.5s ease;
    }
  }
}

@include vp-tablet {
  .header {
    width: 70%;
  }

  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header__nav {
    width: 70%;

    a:hover {
      svg {
        transform: none;
      }
      span {
        display: none;
      }
    }
  }
}


@include vp-mobile {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000000;

    width: 100%;

    background-color: $color-secondary;
  }

  .header__container {
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    a {
      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 50px;
        text-transform: uppercase;
      }
    }

    a:hover {
      svg {
        transform: none;
      }

      span {
        position: relative;
      }
    }

    svg {
      @include visually-hidden();
    }

    span {
      display: block;
    }
  }
}
