.link {
  font-weight: 700;
  font-size: size(12px);
  line-height: size(14px);
  color: $color-darkblue;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border-bottom: size(1px) solid $color-darkblue;

  &--special {
    font-size: size(14px);
    line-height: size(16px);
    color: $color-default-white;

    border-bottom: size(1px) solid $color-default-white;
  }
}
