.menu__button {
  display: none;
  z-index: 101;
}

@include vp-mobile {
  .menu__block {
    display: none;

    &--active {
      display: flex;
      padding-top: 30px;
      width: 100%;
      height: 100vh;
      position: absolute;
      background: $color-secondary-highlight;
      z-index: 100;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .menu__button {
    display: block;
    background: transparent;
    position: relative;
    width: 96px;
    height: 96px;
    border: none;
    border-radius: 0;
    cursor: pointer;

    span {
      transition-delay: 0.3;
      border-radius: 5px;
      display: block;
      // height: 8px;
      background: $color-secondary-highlight;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        border-radius: 5px;
        display: block;
        // left: 0;
        // width: 100%;
        // height: 8px;
        background-color: $color-secondary-highlight;
        content: "";
      }

      &::before {
        // top: -28px;
      }

      &::after {
        // bottom: -28px;
      }
    }
  }

  .menu__button span,
  .menu__button span::before,
  .menu__button span::after {
    width: 15vw; // ширина
    height: 1.6vw; // высота
  }

  .menu__button span::before {
    top: -5vw; // отступ сверху
  }

  .menu__button span::after {
    bottom: -5vw; // отступ снизу
  }

  /* when menu open: */

  .menu__button--opened {
    span {
      background: none;
      transition: 0;
    }
  }


  .menu__button span::before,
  .menu__button span::after {
    transform-origin: right;
    transition: transform 0.3s ease-out;
  }

  .menu__button--opened span::before,
  .menu__button--opened span::after {
    background-color: $color-secondary-shadow;
    transform-origin: right;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

  }

  .menu__button--opened span::before {
    transform: rotate(-43deg);
  }

  .menu__button--opened span::after {
    transform: rotate(43deg);
  }
}

.menu__button span::before,
.menu__button span::after {
  transition: background-color 0.3s ease-out 0.3s;
}
