.menu__block {
  display: none;
}

@include vp-mobile {
  .menu__block {
    @include reset-ul();


    display: none;

    &--active {
      border-top: 1px solid $color-faded-shadow;
      position: relative;
      // padding: auto 30px;
      display: grid;
      padding-top: 30px;
      width: 100%;
      height: 100vh;
      position: absolute;
      background-color: $color-default-white;
      z-index: 100;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }

  .menu__item {

    display: flex;
    align-items: center;
    justify-content: center;

    svg {}
  }



  .menu__close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../img/sprite/letter.svg");
    background-color: aqua;
    top: 5px;
    left: calc(50% - 15px);

    z-index: 1000;

    // &--hidden{
    //   display: none;
    // }
  }

}
