.monitor {

  margin: auto;
  width: 700px;
  padding: 30px;
  margin-bottom: 100px;

  background-color: #262626;
  border-radius: 25px 25px 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 100px;
    background-color: #d8ddde;

    place-self: center;
    top: calc(100% + 35px);
    left: calc(50% - 40px);
    transform: perspective(100px) rotateX(45deg);
    border-top: 40px solid rgb(185, 183, 183);





  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #aeb2b3;
    left: 0;
    top: 100%;
    border-radius: 0 0 25px 25px;

  }
}

.monitor__block {
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b 1s infinite alternate;

  @keyframes b {
    100% {
      background-position: 50% 0, 60% 50%
    }
  }

  display: block;
  width: 100%;
  height: 400px;

  position: relative;

  // &::before {
  //   border-radius: 25px 0 0 0;
  //   content: " ";
  //   position: absolute;
  //   width: 50%;
  //   height: 50%;
  //   background-image: linear-gradient(to bottom right, white 20%, white 0%);
  //   opacity: 0.2;
  //   top: -30px;
  //   left: -30px;
  //   z-index: 22s;
  //   clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

  // }
}
