.nav {

align-self: flex-start;
margin-left: 15%;
  flex-grow: 0;
  ul {
    @include reset-ul();
display: flex;



  }

  li {
    display: block;
    margin-left:7px;
  }

  a {
    display: block;

    padding: 15px;

  }
}
