.nav {
  flex-grow: 0;
  align-self: flex-start;
  margin-left: 16%;

  ul {
    display: flex;

    @include reset-ul();
  }

  li {
    display: block;
    margin-right: size(7px);
  }

  a {
    display: block;
    padding: size(15px);
  }
}

@include vp-tablet {
  .nav {
    margin-left: 15%;

    span {
      display: none;
    }
  }
}


@include vp-mobile {
  .nav {
    display: none;
  }
}
