.page {
  box-sizing: border-box;
  min-width: $vp-mobile;
  height: 100vh;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", "Arial", sans-serif;
  color: $color-secondary-border;
  letter-spacing: 0;

  scroll-behavior: smooth;

  svg {
    display: block;
  }

  &--day {
    .page__body {
      background-image: url("../img/svg/background-intro.svg");
    }
  }

  &--night {
    .page__body {
      color: $color-secondary-highlight;

      background-color: $color-primary;
      background-image: url("../img/svg/background-intro-night.svg");

      h1 {
        overflow: visible;

        color: $color-secondary-highlight;
        text-shadow: 13px 8px 0 $color-primary-black;
      }
    }

    .page__menu {
      color: inherit;

      background-color: inherit;
    }

    .page__button {
      font-weight: 400;
      color: $color-secondary-highlight;

      background-color: $color-primary-highlight;
      border: 2px solid $color-primary-black;

      &::before {
        background: $color-primary-dark;
        box-shadow: 0 0 0 2px $color-primary-black;
      }

      &:hover {
        background: $color-primary-highlight;
        border-color: $color-primary-black;
        transform: translate(0, 0.25em);

        &::before {
          border-color: $color-primary-black;
          box-shadow: 0 0 0 2px $color-primary-black;
          transform: translate3d(0, 0.5em, -1em);
        }
      }

      &:active {
        background: $color-primary;
        transform: translate(0em, 0.75em);

        &::before {
          transform: translate3d(0, 0, -1em);
        }
      }
    }

    .page__link {
      font-size: 12px;
      color: $color-secondary-highlight;
    }
  }

  .page__link {
    font-size: 12px;
  }
}

.page__body {
  width: 100%;
  height: 100%;

  background-color: $color-secondary-highlight;
  background-repeat: no-repeat;
  background-size: 6000%;
  background-attachment: fixed;
}



.page__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__main {
  flex: 1 0 auto;
  height: 100vh;


  h1 {
    margin: 80px 0;

    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100px;
    font-family: "Press";
    text-align: center;
    color: #4b3b3f;
    text-shadow: 13px 8px 0 $color-secondary-highlight;
  }
}

.page__button {
  padding: 1.25em 2em;

  font-weight: 600;
  color: $color-secondary-border;
  text-transform: uppercase;

  background: $color-secondary-highlight;
  border: 2px solid $color-secondary-shadow;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  cursor: pointer;

  transition: transform 0.15s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: $color-secondary;
    border-radius: inherit;
    box-shadow: 0 0 0 2px $color-secondary-shadow;
    transform: translate3d(0, 0.75em, -1em);

    transition: transform 0.15s, box-shadow 0.15s;
  }

  &:hover {
    background: $color-secondary-hover;
    transform: translate(0, 0.25em);

    &::before {
      box-shadow: 0 0 0 2px $color-secondary-shadow;
      transform: translate3d(0, 0.5em, -1em);
    }
  }

  &:active {
    background: $color-secondary-hover;
    transform: translate(0em, 0.75em);

    &::before {
      box-shadow: 0 0 0 2px $color-secondary-shadow, 0 0 $color-secondary-highlight;
      transform: translate3d(0, 0, -1em);
    }
  }
}




@include vp-tablet {
  .page__main {
    h1 {
      margin: 40px 0;
      overflow: visible;

      font-size: 39px;
    }

    p {
      margin: auto auto 40px 16%;
    }
  }
}

@include vp-mobile {
  .page {
    &--night {
      .page__header {
        background-color: $color-primary-dark;
      }

      .page__heading {
        color: $color-secondary-highlight;
        text-shadow: 3px 3px 0 $color-secondary-border;
      }

      .page__menu {
        background-color: $color-primary-dark;
      }

      .page__body {
        background-color: $color-primary-dark;
      }

      .page__footer {
        background-color: $color-primary;
        border-color: $color-primary-black;
      }
    }

    .page__body {
      background-image: none;
    }
  }

  .page__body {
    background: $color-secondary;
  }

  .page__main {
    height: auto;

    h1 {
      overflow: visible;

      font-size: 2em;
      line-height: 45px;
      word-wrap: break-word;
      text-shadow: 4px 4px 0 $color-secondary-highlight;
    }

    p {
      margin: 20px auto;

      text-align: center;
    }
  }
}
