.page {

  box-sizing: border-box;
  min-width: $vp-mobile;
  height: 100vh;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", "Arial", sans-serif;
  color: $color-primary-black;
  letter-spacing: 0;

  scroll-behavior: smooth;

  svg {
    display: block;
  }
}

.page__body {
  background-color: $color-default-white;

}

.page__main {
  width: 100%;
  background-color: $color-secondary-highlight;
  background-image: url("../img/svg/background-intro.svg");
  background-repeat: no-repeat;
  background-size: 6000%;
  background-attachment: fixed;

  h1 {
    margin: 80px 0;
    font-family: "Press";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100px;
    text-align: center;

    color: #4b3b3f;
    text-shadow: 13px 8px 0px $color-secondary-highlight;

  }
}



@include vp-tablet {
  .page__main {
    h1 {
      overflow: visible;
      font-size: 39px;
      margin: 40px 0;
    }

    p {
      margin: auto auto 40px 16%;
    }
  }

}

@include vp-mobile {
  .page__main {
    background-image: url("./img/svg/diagonal-lines.svg");

    background-repeat: repeat;
    width: 100%;
    height: 100%;
    h1 {

      font-size: 2em;
      line-height: 45px;
      word-wrap: break-word;
      overflow: visible;
    }

    p {
      margin: 20px auto;
      text-align: center;
    }
  }

}
