.projects {
  padding-top: 20px;
  // border: 1px purple solid;
  height: 88vh;
  margin-top: 80px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  h2 {
    text-align: left;
    text-transform: uppercase;
  }
}

.projects__container {}

.projects__wrapper {
  @include reset-ul();
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 30px;
  grid-column-gap: 50px;
  grid-template-rows: auto;
  width: 100%;
  // margin-bottom: 50px;
}

.projects__block {
  z-index: 6;
  position: relative;
  border-radius: 10px;
  color: $color-faded-shadow;
  background-color: $color-default-white;
  background-color: $color-primary-black;
  position: relative;

  &:nth-child(2n) {
    .projects__stack {
      left: auto;
      right: 10px;
    }
  }

  &:hover {
    .projects__scroll {
      display: block;
    }

    .projects__item {
      transform: none
    }

    .projects__header {
      background-color: $color-faded-highligt;
    }

    .projects__stack {
      transform: translateX(-35px);
      transition-duration: 1s;
      z-index: -1;
      opacity: 1;
    }

    img {
      filter: none;
    }

    &:nth-child(2n) {
      .projects__stack {
        transform: translateX(46px);

        & svg {
          fill: $color-primary-black;
        }
      }
    }
  }




  img {
    filter: saturate(0);
  }
}

.projects__item {
  width: 100%;
  position: relative;
  border: 1px solid $color-primary-black;
  top: -15px;
  left: -15px;
  border-radius: 10px;
  display: block;
  background-color: $color-faded;
  transform: translateY(10px);
  transition-duration: 0.5s;
  background-size: cover;
  overflow: hidden;
}

.projects__stack {
  @include reset-ul();
  background-color: transparent;
  position: absolute;
  top: -15px;
  left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  opacity: 0;

  svg {
    fill: $color-secondary;

    &:hover {
      fill: $color-secondary-shadow;
      transform: scale(1.2);
    }
  }
}

.projects__header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid $color-primary-black;
  position: relative;
  color: $color-primary-black;
  padding: 0 15px;

  h3 {
    font-family: "Press";
    color: $color-primary-black;
  }
}

.projects__main {
  height: 330px;


  &::-webkit-scrollbar {
    width: 0;
  }

  overflow-y: scroll;

  scrollbar-width: none;

  picture {

    width: 100%;


    display: block;

    border-radius: 0 0 10px 10px;
    position: relative;


  }
}

.projects__controls {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
}

.projects__control {
  cursor: pointer;
  color: $color-secondary-border;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  padding: 5px;
  background: $color-secondary-highlight;
  border: 1px solid $color-primary-black;
  border-radius: 8px;
  transition: transform 0.15s;
  transform-style: preserve-3d;

  &:hover {
    transform: scale(1.02);
  }

  &--code {
    background-color: $color-secondary-highlight;
  }

  &--preview {
    background-color: $color-hover-yellow;
  }

  &--brief {
    background-color: $color-hover-blue;
  }
}

@include vp-tablet {
  .projects {


  }
  .projects__wrapper {
    grid-template-columns: auto;
    grid-row-gap: 120px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;

  }

  .projects__main {
    height: 440px;
    overflow: hidden;
  }

  .projects__block {
    background: none;

    &:nth-child(2n) {
      &:hover {
        .projects__stack {
          transform: none;

          & svg {
            fill: $color-secondary-shadow;
          }
        }
      }
    }

    &:hover {
      .projects__scroll {
        display: none;
      }

      .projects__item {
        transform: translateY(10px);
      }

      .projects__header {
        background-color: $color-faded;
      }

      .projects__stack {
        transform: none;

      }
    }

    // picture {
    //   height: fit-content;
    //   overflow: hidden;
    //   max-height: 440px;
    // }

    img {
      width: 100%;
      filter: none;
    }


  }

  .projects__item {
    top: 0;
    left: 0;
  }

  .projects__stack {
    transform: none;
    opacity: 1;
    top: 105%;
    flex-direction: row;
    width: 100%;
    height: auto;

    svg {
      fill: $color-secondary-shadow;

      &:hover {
        transform: none;
        fill: $color-secondary-shadow;
      }
    }
  }
}
