.socials {
  display: grid;

  grid-auto-flow: column;
  @include reset-ul();

  li {
    text-align: center;
  }

  svg {
    display: inline-block;

    vertical-align: middle;
  }
}

.socials__item {
  &--mobileonly {
    display: none;

    text-align: center;
  }
}

@include vp-mobile {
  .socials__item {
    margin-right: 0;
    margin-left: 0;

    &--mobileonly {
      display: block;
    }
  }
}
