.socials {
  @include reset-ul();
  display: grid;
  grid-auto-flow: column;




  @include vp-mobile {
    li {
      margin-right: 11px;
      margin-left: 0;
    }
  }

  ul {
    display: flex;

    @include reset-ul;
  }

  li {
    text-align: center;
  }

  svg {
    display: inline-block;

    vertical-align: middle;
  }
}
