.container {
  width: 100%;
  max-width: size(1440px);
  margin: 0 auto;
  padding: 0 size(130px);

  @include vp-tablet {
    padding: 0 size(105px);
  }

  @include vp-mobile {
    padding: 0 size(16px);
  }
}
