.section {
  display: flex;
  padding-top: 100px;

  &--title {
    height: 100vh;
  }

}

.section__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;

position: relative;

background-repeat: no-repeat;
background-size: contain;
background-position: right 200%;


  p{

     max-width:500px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1px;

      margin: auto;
      margin-left:15%;
      margin-bottom: 50px;
  }

}

@include vp-tablet {
  .section {
    padding-top: 50px;
  }
}
