.section {
  display: flex;

  &--title {
    height: 100vh;
    padding-top: 100px;
  }
}

.section__container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;

  background-repeat: no-repeat;
  background-position: right 200%;
  background-size: contain;


  p {
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 15%;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}

@include vp-tablet {
  .section {
  }
}


@include vp-mobile {
  .section {
    height: auto;
  }

  .section--title {
    height: auto;
    padding-top: 100px;
  }
}
