.typing {
  width: 22ch;
  width: 100%;
  overflow: hidden;

  font-size: 2em;
  font-family: monospace;
  white-space: nowrap;

  border-right: 3px solid;

  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;

  &--mobile {
    display: none;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@include vp-tablet {
  .typing {
    border: none;

    animation: none;
  }
}

@include vp-mobile {
  .typing {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
