// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);


$color-primary: #654A64;
$color-primary-dark: #452A44;
$color-primary-black:#2E1B2D;
$color-primary-highlight: #A587A4;



$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

$color-secondary: #f9c4d2;
$color-secondary-highlight: #fff0f0;
$color-secondary-border: #382b22;
$color-secondary-shadow: #b18597;
$color-secondary-hover: #ffe9e9;

$color-faded: #dcdcdc;
$color-faded-highligt: #e5e5e5;
$color-faded-shadow: #808080;

$color-hover-purple: #d0c4f9;
$color-hover-blue: #c4e7f9;
$color-hover-green: #d2f9c4;
$color-hover-yellow: #f9f6c4;

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);




// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble",
"Arial",
sans-serif;

$ff-placeholder: "Placeholder",
"Arial",
sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

$vp-desktop: 1200px;
$vp-tablet: 770px;
$vp-mobile: 320px;
// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
